ul {
  padding: 0;
  list-style: none;
}

ul > li {
  position: relative;
  padding-left: 25px;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.header {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  padding-top: 40px;
}
.header__logo {
  padding-left: 5px;
}
.header__nav_bar {
  margin-left: 15%;
  display: flex;
}
.header__nav_bar-link {
  margin: 0 18.6px;
  transition: 1s;
  padding-top: 17px;
  color: #810DF1;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.header__nav_bar-link:hover {
  text-decoration: none;
  color: #F10D70;
}
.header__nav_bar-button {
  background-color: #810DF1;
  color: #FFFFFF;
  margin: 0 18.6px;
  padding-top: 17px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.header__nav_bar-button:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.header__nav_bar-button div {
  width: 230px;
  padding-left: 10%;
}
.header__nav_bar-button img {
  padding-right: 8px;
}

.main_container {
  width: 100%;
  background-image: url(img/back.png);
  background-size: 100% 798px;
  background-repeat: no-repeat;
}
.main_container__poster {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}
.main_container__text {
  width: 50%;
  margin-top: 160px;
}
.main_container__text h1 {
  color: #F10D70;
  font-size: 69px;
  font-weight: bold;
}
.main_container__text p {
  font-weight: 300;
  font-size: 16px;
  color: #000D70;
}
.main_container__text a {
  text-decoration: none;
}
.main_container__text a > div {
  width: 320px;
  background-color: #F10D70;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  height: 40px;
  padding-top: 7px;
  text-decoration: none;
}

.slider_row {
  width: 1350px;
  display: flex;
  margin: 0 auto;
  background-color: #810DF1;
  -webkit-box-shadow: 0px 11px 10px #810DF1;
  -moz-box-shadow: 0px 11px 10px #810DF1;
  box-shadow: 0px 11px 21px -11px #810DF1;
}
.slider_row h1 {
  margin-top: 74px;
  margin-bottom: 20px;
  font-size: 40px;
  color: #FFFFFF;
  font-weight: bold;
}
.slider_row p {
  color: #FFFFFF;
  font-size: 16px;
}
.slider_row span {
  font-weight: bold;
}
.slider_row__col1 {
  padding: 0px 90px 0px 50px;
  width: 550px;
}
.slider_row__col2 {
  width: 800px;
  padding: 0 90px;
  background-image: url(img/slider.png);
}
.slider_row__col2__sircle {
  margin-top: 90px;
}
.slider_row__col2__sircle img {
  margin-right: 5px;
  margin-bottom: 30px;
  cursor: pointer;
}

.good_for_people {
  margin: 150px auto 0 auto;
  width: 1250px;
}
.good_for_people__child_or_man {
  display: flex;
  margin-bottom: 30px;
}
.good_for_people__child_or_man span {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #2F233A;
  margin-right: 40px;
  cursor: pointer;
}
.good_for_people__child_or_man span.active {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #810DF1;
  color: #810DF1;
  cursor: auto;
}
.good_for_people__content {
  display: flex;
}
.good_for_people__content > div {
  margin-right: 7%;
}
.good_for_people__content > div:last-of-type {
  margin-right: 0%;
}
.good_for_people__content > div div {
  height: 170px;
}
.good_for_people__content > div h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: #2F233A;
  font-weight: 600;
}
.good_for_people__content > div p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: #2F233A;
  line-height: 1.3;
  margin-bottom: 80px;
}

.form_body {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  background-color: #E4E4FE;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 3.5%;
  padding-right: 3.5%;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.form_body p {
  width: 29%;
  margin: 0 10px 0 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #2F233A;
  line-height: 1.3;
}
.form_body p span {
  color: #810DF1;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #810DF1;
}
.form_body__name, .form_body__number_phone {
  background: #E4E4FE;
  outline: none;
  border: 2px solid #9FB6C9;
  padding-left: 15px;
  width: 295px;
  font-weight: 500;
  font-size: 18px;
  margin: 0 10px;
  color: #9FB6C9;
  line-height: 1.3;
}
.form_body ::-webkit-input-placeholder {
  color: #9FB6C9;
}
.form_body ::-moz-placeholder {
  color: #9FB6C9;
}
.form_body :-moz-placeholder {
  color: #9FB6C9;
}
.form_body :-ms-input-placeholder {
  color: #9FB6C9;
}
.form_body__button {
  background-color: #810DF1;
  cursor: pointer;
  color: #FFFFFF;
  margin-left: 10px;
  padding: 0 25px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}
.form_body__button:checked {
  border: none;
  outline: none;
  cursor: pointer;
}

.about_us {
  width: 1340px;
  margin: 90px auto 0 auto;
  padding-left: 3.5%;
  padding-right: 3.5%;
  padding-top: 70px;
  padding-bottom: 70px;
  border: #E4E4FE 2px solid;
  color: #2F233A;
}
.about_us__col1 h2 {
  font-weight: bold;
}

.employment {
  width: 1250px;
  margin: 100px auto 0 auto;
  color: #2F233A;
}
.employment h2 {
  font-weight: bold;
  margin-bottom: 30px;
}
.employment > div {
  display: flex;
}
.employment__col {
  border: #F10D70 4px solid;
  width: 32%;
  margin-right: 2%;
  height: 410px;
  transition: 3s;
}
.employment__col a {
  color: inherit;
  text-decoration: none;
}
.employment__col h3 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 44px 0 20px 50px;
  max-width: 280px;
  height: 66px;
}
.employment__col ul {
  margin-left: 50px;
  max-width: 280px;
  height: 185px;
}
.employment__col ul li {
  margin-bottom: 20px;
  line-height: 1.1;
}
.employment__col ul > li:before {
  content: "";
  position: absolute;
  left: 8px;
  width: 10px;
  height: 10px;
  margin-top: 6px;
  border-radius: 50%;
  background: #F10D70;
}
.employment__col span {
  color: #F10D70;
  border-bottom: 2px solid;
  margin-left: 50px;
  font-size: 18px;
  font-weight: bold;
}
.employment__col:last-of-type {
  margin-right: 0;
  border: #F15D0D 4px solid;
}
.employment__col:last-of-type ul > li:before {
  background: #F15D0D;
}
.employment__col:last-of-type span {
  color: #F15D0D;
}
.employment__col:last-of-type:hover {
  background: #F15D0D;
}
.employment__col:first-of-type {
  border: #810DF1 4px solid;
}
.employment__col:first-of-type ul > li:before {
  background: #810DF1;
}
.employment__col:first-of-type span {
  color: #810DF1;
}
.employment__col:first-of-type:hover {
  background: #810DF1;
}
.employment__col:hover {
  background-color: #F10D70;
  color: #FFFFFF;
}
.employment__col:hover ul > li:before {
  background: #FFFFFF;
}
.employment__col:hover span {
  color: #FFFFFF;
}

footer {
  margin: 80px auto 10px auto;
  width: 1250px;
  display: flex;
  color: #AEAEAE;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}
footer div > p {
  line-height: 1.3;
  margin-bottom: 5px;
  text-align: center;
}

.feedback_back {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  height: 0;
  opacity: 0;
  width: 100%;
  transition: 1s;
}

.active_modal {
  opacity: 1;
  height: 100%;
  transition: 1s;
}

.feedback_call {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 35%;
  background-color: white;
  cursor: auto;
}
.feedback_call__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.feedback_call__form {
  margin: 60px 40px 0 40px;
}
.feedback_call__form h2 {
  margin-bottom: 20px;
}
.feedback_call__form input {
  width: 99%;
  margin-bottom: 30px;
  height: 50px;
}
.feedback_call__form input[type=submit] {
  margin-bottom: 50px;
  background-color: #810DF1;
  color: #FFFFFF;
  border: 1px #810DF1;
  font-weight: bold;
  cursor: pointer;
}
.feedback_call__form input[type=text] {
  border: 2px solid #7D9CB6;
  color: #7D9CB6;
  padding-left: 15px;
}

/*# sourceMappingURL=main.css.map */
