$font: 'Ubuntu',
sans-serif;
$lilac: #810DF1;
$pink: #F10D70;
$white: #FFFFFF;
$black: #2F233A;
$orange:#F15D0D;
$gray:#E4E4FE;
$blue_gray: #7D9CB6;

ul {
    padding: 0;
    list-style: none;

}

ul > li {
    position: relative;
    padding-left: 25px;
}

@mixin buttons($width, $color:$lilac) {
    width: $width;
    background-color: $color;
    color: $white;
    font-size: 16px;
}

@mixin container_full {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
}

@mixin container_medium {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
}

body {
    font-family: $font;
}

.header {
    @include container_full;
    padding-top: 40px;
    &__logo {
        padding-left: 5px;
    }
    &__nav_bar {
        margin-left: 15%;
        display: flex;
        &-link {
            margin: 0 18.6px;
            transition: 1s;
            padding-top: 17px;
            color: $lilac;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            &:hover {
                text-decoration: none;
                color: $pink;
            }

        }
        &-button {
            background-color: $lilac;
            color: $white;
            margin: 0 18.6px;
            padding-top: 17px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                color: $white;
                text-decoration: none;
            }
            div {
                width: 230px;
                padding-left: 10%;
            }
            img {
                padding-right: 8px;
            }
        }
    }
}

.main_container {
    width: 100%;
    background-image: url(img/back.png);
    background-size: 100% 798px;
    background-repeat: no-repeat;
    &__poster {
        @include container_medium;
    }
    &__text {
        width: 50%;
        margin-top: 160px;
        h1 {
            color: $pink;
            font-size: 69px;
            font-weight: bold;
        }
        p {
            font-weight: 300;
            font-size: 16px;
            color: #000D70;
        }
        a {
            text-decoration: none;

        }
        a > div {
            @include buttons(320px, $pink);
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            height: 40px;
            padding-top: 7px;
            text-decoration: none;
        }
    }
}

.slider_row {
    width: 1350px;
    display: flex;
    margin: 0 auto;
    background-color: $lilac;
    -webkit-box-shadow: 0px 11px 21px-11px $lilac;
    -moz-box-shadow: 0px 11px 21px-11px $lilac;
    box-shadow: 0px 11px 21px -11px $lilac;
    h1 {
        margin-top: 74px;
        margin-bottom: 20px;
        font-size: 40px;
        color: $white;
        font-weight: bold;
    }
    p {

        color: $white;
        font-size: 16px;

    }
    span {
        font-weight: bold;
    }
    &__col1 {
        padding: 0px 90px 0px 50px;
        width: 550px;
    }
    &__col2 {
        width: 1350-550px;
        padding: 0 90px;
        background-image: url(img/slider.png);
        &__sircle {
            margin-top: 90px;
            img {
                margin-right: 5px;
                margin-bottom: 30px;
                cursor: pointer;
            }
        }
    }
}

.good_for_people {
    margin: 150px auto 0 auto;
    width: 1250px;
    &__child_or_man {
        display: flex;
        margin-bottom: 30px;
        span {
            font-family: $font;
            font-size: 40px;
            font-weight: bold;
            color: $black;
            margin-right: 40px;
            cursor: pointer;
        }
        span.active {
            border-bottom-width: 3px;
            border-bottom-style: solid;
            border-bottom-color: $lilac;
            color: $lilac;
            cursor: auto;

        }
    }
    &__content {
        display: flex;
        > div {

            margin-right: 7%;
            &:last-of-type {
                margin-right: 0%;
            }
            div {
                height: 170px;
            }
            h2 {
                font-family: $font;
                font-size: 18px;
                color: $black;
                font-weight: 600;
            }
            p {
                font-family: $font;
                font-size: 18px;
                color: $black;
                line-height: 1.3;
                margin-bottom: 80px;
            }
        }
    }

}

.form_body {
    @include container_full;
    background-color: $gray;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 3.5%;
    padding-right: 3.5%;
    p {
        width: 29%;
        margin: 0 10px 0 0;
        font-family: $font;
        font-size: 24px;
        font-weight: 600;
        color: $black;
        line-height: 1.3;
        span {
            color: $lilac;
            border-bottom-width: 3px;
            border-bottom-style: solid;
            border-bottom-color: $lilac;
        }


    }
    &__name,
    &__number_phone {
        background: $gray;
        outline: none;
        border: 2px solid #9FB6C9;
        padding-left: 15px;
        width: 295px;
        font-weight: 500;
        font-size: 18px;
        margin: 0 10px;
        color: #9FB6C9;
        line-height: 1.3;
    }
    ::-webkit-input-placeholder {
        color: #9FB6C9;
    }
    ::-moz-placeholder {
        color: #9FB6C9;
    }
    /* Firefox 19+ */
    :-moz-placeholder {
        color: #9FB6C9;
    }
    /* Firefox 18- */
    :-ms-input-placeholder {
        color: #9FB6C9;
    }
    &__button {
        background-color: $lilac;
        cursor: pointer;
        color: $white;
        margin-left: 10px;
        padding: 0 25px;
        border: none;
        font-size: 16px;
        font-weight: bold;
        &:checked {
            border: none;
            outline: none;
            cursor: pointer;
        }

    }
}

.about_us {
    width: 1340px;
    margin: 90px auto 0 auto;
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 70px;
    padding-bottom: 70px;
    border: $gray 2px solid;
    color: $black;
    &__col1 {
        h2 {
            font-weight: bold;
        }

    }
}

.employment {
    width: 1250px;
    margin: 100px auto 0 auto;
    color: $black;
    h2 {
        font-weight: bold;
        margin-bottom: 30px;
    }
    > div {
        display: flex;
    }
    &__col {
        border: $pink 4px solid;
        width: 32%;
        margin-right: 2%;
        height: 410px;
        transition: 3s;
        a{
            color: inherit;
            text-decoration: none;
        }
        h3 {
            font-size: 28px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 44px 0 20px 50px;
            max-width: 280px;
            height: 66px;
        }
        ul {
            margin-left: 50px;
            max-width: 280px;

            height: 185px;
            li {
                margin-bottom: 20px;
                line-height: 1.1;
            }
        }
        ul > li:before {
            content: ''; 
            position: absolute;
            left: 8px;
            width: 10px;
            height: 10px;
            margin-top: 6px;
            border-radius: 50%;
            background: $pink;
        }
        span {
            color: $pink;
            border-bottom: 2px solid;
            margin-left: 50px;
            font-size: 18px;
            font-weight: bold;

        }
        &:last-of-type {
            margin-right: 0;
            border: $orange 4px solid;
            ul > li:before {
                background: $orange;
            }
            span {
                color: $orange;
            }
            &:hover {
                background: $orange;
            }
        }
        &:first-of-type {
            border: $lilac 4px solid;
            ul > li:before {
                background: $lilac;
            }
            span {
                color: $lilac;
            }
            &:hover {
                background: $lilac;
            }
        }
        &:hover {
            background-color: $pink;
            color: $white;
            ul > li:before {
                background: $white;
            }
            span {
                color: $white;
            }
        }
    }

}
footer{
    margin: 80px auto 10px auto;
    width: 1250px;
    display: flex;
    color:#AEAEAE;
    justify-content: space-between;
    font-family: $font;
    font-size: 14px;
    //margin-bottom: 10px;
    div>p{
        line-height: 1.3;
        margin-bottom: 5px;
        text-align: center;
        
    }
}

//стили для модального окна
.feedback_back{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    height: 0;
    opacity: 0;
    width: 100%;
    transition: 1s;
}
.active_modal{

    opacity: 1;
    height: 100%;
    transition: 1s;

}
.feedback_call{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 35%;
    background-color: white;
    cursor: auto;
    &__close{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    &__form{
        margin: 60px 40px 0 40px;
        h2{
            margin-bottom: 20px;
        }
        input{
            width:99%;
            margin-bottom: 30px;
            height: 50px;
        }
        input[type=submit]{
            margin-bottom: 50px;
            background-color: $lilac;
            color: $white;
            border: 1px $lilac;
            font-weight: bold;
            cursor: pointer;
        }
        input[type=text]{
            border: 2px solid $blue_gray;
            color: $blue_gray;
            padding-left: 15px;
        }
    }
}



